* {
    text-align: center;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
}

#generator h2 {
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

button {
    font-weight: bolder;
    font-size: 20px;
}

#color1, #color2 {
    border: 2px solid grey;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#color_table, #pattern_table {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h2 {
    text-decoration: underline;
}